/* vihaan */
body {
    overflow: hidden;
  }
  .chatbox {
    max-height: 560px;
    display: flex;
    flex-direction: column;
  }
  .chatbox-container {
    width: 100%;
    /* height: 100%; */
    /* padding: 15px; */
    /*   border:3px solid; */
    display: flex;
    justify-content: space-around;
  }
  .full-container {
    /*   border:1px solid blue; */
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 935px;
    /*   align-items: center; */
  }
  .main-1 {
    width: 100%;
    height: 100%;
      /* display:none; */
  /*   border:2px purple;  */
    max-width: 350px;
  }
  .main-2 {
    width: 100%;
    height: 100%;
    /* border: 7px solid red; */
    /* display: flex;
    flex-direction: column; */
    display:none;
  }
  .chatbox {
    height: 100%;
  }
  
  .chat_top_container {
    display: flex;
    border: 1px solid #dbdbdb;
    width: 100%;
    padding: 18px;
    /* text-align: center; */
    font-weight: 600;
    font-size: 15px;
  }
  .main1-chat_top_container {
    border: 1px solid #dbdbdb;
    width: 100%;
    padding: 18px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    /* border-right: none; */
    border-bottom: none;
  }
  #chat_contain {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    width: 100%;
    border-bottom: none;
    border-top: none;
    height: 100%;
    /* min-height:450px; */
    overflow: hidden auto;
  }
  .main-displayusers {
    display: block;
    border: 1px solid #dbdbdb;
    width: 100%;
    height: 100%;
    /* max-height: 500px; */
    /* border-right: none; */
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
   
  }
  .typing {
    float: left;
    clear: both;
    display: block;
    max-width: 250px;
    margin-left: 12px;
    min-width: 33px;
    margin-top: 8px;
    border-radius: 19px;
    background-color: #ffff;
    color: #262626;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: break-word;
    padding: 8px 12px 8px 12px;
    min-height: 24px;
    font-size: 14px;
    border: 1px solid #eae3e3;
  }
  .textarea_container {
    display: flex;
    border: 1px solid #dbdbdb;
    width: 100%;
    border-top: none;
    min-height: 85px;
    /* height:100%; */
    padding: 20px;
    margin-bottom: 0;
  }
  
  .textarea {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    padding: 5px;
  }
  textarea {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    resize: none;
    font-size: 14px;
    outline: none;
    overflow-wrap: break-word;
    font-size: 14px;
  
    margin-right: 5px;
  }
  .txt-mid {
    width: 100%;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    min-height: 44px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 15px;
  }
  
  button {
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69, 0, 149, 246), 1);
    display: inline;
    padding: 0;
    cursor: pointer;
  
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    text-transform: inherit;
    font-weight: 600;
  
    outline: none !important;
  }
  #chat_contain::after {
    content: "";
    clear: both;
    display: block;
  }
  .left_message {
    float: right;
    clear: both;
    display: block;
    max-width: 255px;
    margin-right: 10px;
    min-width: 35px;
    margin-top: 8px;
    border-radius: 20px;
    background-color: #efefef;
    color: black;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: break-word;
    padding: 12px 16px 12px 16px;
    min-height: 25px;
    font-size: 14px;
  }
  .left_text {
    position: relative;
  }
  .left-bubble::after {
    content: "";
    clear: both;
    display: block;
  }
  
  .right_message {
    float: left;
    clear: both;
    display: block;
    max-width: 250px;
    margin-left: 12px;
    min-width: 33px;
    margin-top: 8px;
    border-radius: 16px;
    background-color: #ffff;
    color: #262626;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: break-word;
    padding: 12px 16px 12px 16px;
    min-height: 24px;
    font-size: 14px;
    border: 1px solid #eae3e3;
  }
  .right_text {
    position: relative;
  }
  .right-bubble::after {
    content: "";
    clear: both;
    display: block;
  }
  
  .user-items {
    display: flex;
    padding: 5px;
    align-items: center;
    /* border:2px solid purple; */
  }
  .user {
    margin-top: 12px;
  }
  .image {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    box-sizing: border-box;
    display: block;
    margin-left: 13px;
    /* border:1px solid; */
  }
  .user-image {
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  .username {
    margin-left: 14px;
  }
  .username-flex {
    display: flex;
    flex-direction: column;
  }
  .name {
    font-size: 15px;
  }
  .last-message {
    color: #8e8e8e;
    font-size: 13px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: black;
  }

  @media only screen and (max-width: 768px) {
    body {
      overflow: hidden;
    }
    /* .main-2{
      height:100vh;
    } */
    .chatbox {
      max-height: 93vh;
      display: flex;
      flex-direction: column;
    }
    .textarea_container {
      border-bottom: none;
      /* margin-top:10px; */
      min-height: 90px;
      height: 100%;
      margin-bottom: 8px;
      /* padding:10px; */
    }
  
    #chat_contain {
      height: 700px;
    }
    .chatbox-container {
      width: 100%;
      /* height: 100%; */
      display: flex;
      padding: 0px;
      justify-content: space-around;
    }
    .full-container {
      /*   border:1px solid blue; */
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      /*   align-items: center; */
    }
  
    .main-1 {
      width: 100%;
      max-width: 100%;
    }
  }
  